body {
    font-family: 'Lora', serif;
    font-weight: 500;
    text-align: center;
    background-size: 40px 40px;
    /* background-image: radial-gradient(circle, lightgray 1px, rgba(0, 0, 0, 0) 1px); */
    background-color: floralwhite;
}

p {
    text-align: left;
}

.love-calculator {
    width: 15em;
    height: 15em;
    border: 6px solid lightgray;
}



 .place-holder { 
    width: 5em;
    height: 5em;
    background-color: aquamarine;
}

.project-screenshot {
    width: 200px;
    height: 200px;
    border: 5px aquamarine solid;
}

.headshot {
    height: 300px;
    filter: drop-shadow(15px 15px 0 thistle);
}

h1 {
    margin-right: 8%;
    font-size: xx-large;
}

h2 {
    margin-left: 7%;
    padding-top: 5px;
}

p {
    font-size: larger;
}

.introduction {
    margin: 2em;
    margin-bottom: 2em;
    font-size: larger;
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    justify-content: center;
    text-align: left;
    margin-bottom: 2em;
    background-color: rgb(127, 255, 212, 0.5);
    padding: 2em;
}

@media only screen and (min-width: 768px) {
    .project-container {
        margin-left: 30%;
        margin-bottom: 3em;
        justify-content: left;
    }
}

h3 {
    font-size: x-large;
    margin-top: 5em;
    margin-left: 7%;
}

.contact-me {
    display: flex;
    justify-content: center;
    margin-bottom: 15em;
    gap: 20px;
}

.project-section {
    text-align: left;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

ul {
    background-color: lightsalmon;
    padding: 2em;
}

footer {
    margin: 2em;
    font-style: italic;
}