@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif;
    font-weight: 500;
    text-align: center;
    background-size: 40px 40px;
    background-color: floralwhite;
}

.love-calculator {
    width: 15em;
    height: 15em;
    border: 6px solid lightgray;
}

 .place-holder { 
    width: 5em;
    height: 5em;
    background-color: aquamarine;
}

.project-screenshot {
    width: 200px;
    height: 200px;
    border: 5px aquamarine solid;
}

.headshot {
    height: 300px;
    /* border: solid rgb(216, 191, 216, 0.75) 20px; */
    /* filter: drop-shadow(15px 15px 0 rgb(216, 191, 216, 0.75)); */
}

h1 {
    /* margin-right: 8%; */
    font-size: xx-large;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    /* margin-left: 7%; */
    padding-top: 5px;
}

p {
    font-size: large;
    text-align: center;
}

.introduction {
    margin: 2em;
    margin-bottom: 2em;
    font-size: large;
    text-align: center;
}

.project-container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */
    margin: auto;
    justify-content: center;
    text-align: left;
    margin-bottom: 2em;
    background-color: rgb(127, 255, 212, 0.5);
    padding: 2em;
}

/*
@media only screen and (min-width: 768px) {
    .project-container {
        margin-left: 30%;
        margin-bottom: 3em;
        justify-content: left;
    }
}*/

h3 {
    font-size: x-large;
    margin-top: 0; 
    /* margin-left: 7%; */
}

.contact-me {
    margin: auto;
    margin-bottom: 4em;
    text-align: center;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
}

.project-text {
    display: flex;
    flex-direction: column;
    /* gap: 2em; */
}

ul {
    background-color: rgb(255, 160, 122, 0.5);
    padding: 2em;
    /* margin-left: 30%; */
    /* margin-right: 30%; */
}

li {
    list-style: none;
}

li::before {
    content: "➡️ ";
  }

footer {
    margin: 2em;
    margin-top: 0;
    font-style: italic;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 600;
}

.headshot-and-text {
    display: flex;
    justify-content: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.4em;
}

.horizontal-text{
    letter-spacing: 0.8em;
}

.vertical-text,
.horizontal-text {
    /* font-size:x-large; */
}

#first-name {
    margin-right: 60px;
    margin-bottom: 7px;
}

#second-name {
    margin-bottom: 60px;
    margin-right: 7px;
}

#software-header {
    margin-top: 7px;
    margin-left: 100px;
}

#developer-header {
    margin-top: 35px;
    margin-left: 7px;
}

.coloured-text {
    color: gray;
}
